.App {
  text-align: center;
  .boom{
    display:none;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 80px;
    color: red;
  .image{
      width: 600px;
      height: 300px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -150px;
      margin-left: -300px;
      background-image: url(Boom.png);  
    }
    text-align: center;
    &.displayed{
      display: inline-block;
    }
  }
}

.success-icon {
  background-image: url(Green-Checkmark.png);
  height: 60px;
  width: 60px;
}
